@using TestTask.Core.Models
@using Bromix.MudBlazor.MaterialDesignIcons

@typeparam T
@typeparam TSortType   
@typeparam TItemDialog

<MudPaper>

    <MudToolBar>

        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="max-width:300px;"/>

        <MudSelect T="TSortType" Style="align-items:end" Label="Sort" MultiSelection="true" @bind-Value="SortField.SortType" @bind-SelectedValues="SortField.SortFields"
                   SelectAll="true" SelectAllText="All" OnClose="@LoadData">
            @foreach (var item in SortField.Items)
            {
                <MudSelectItem T="TSortType" Value="@item" />
            }
        </MudSelect>

        <div style="align-items:end">
            <MudToggleIconButton Toggled="@isAscending" ToggledChanged="@OnToggledChanged" Class="mr-5"
                                 Icon="@MaterialDesignIcons.Normal.SortAlphabeticalDescending" Color="@Color.Primary" Title="Descending" Size="Size.Large"
                                 ToggledIcon="@MaterialDesignIcons.Normal.SortAlphabeticalAscending" ToggledColor="@Color.Primary" ToggledTitle="Ascending" ToggledSize="Size.Large" />
            <MudSpacer />
        </div>


        <MudTooltip Text="Off Filter" Placement="Placement.Top">
            <MudIconButton Icon="@MaterialDesignIcons.Normal.FilterOff" OnClick="@ClearFilter" Color="Color.Primary" Variant="Variant.Text" />
        </MudTooltip>

    </MudToolBar>

    <MudToolBar >

        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@((e) => SaveDialogItem())" Color="Color.Primary" Variant="Variant.Text" Title="Add Item" />
        <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@Remove" Color="Color.Primary" Variant="Variant.Text" Disabled="@isSelectItems" Title="Remove Select Items" />
        <MudFileUpload T="IBrowserFile" Accept=".xlsx,.xls,.xlsm" FilesChanged="UploadFiles" style="padding:0; margin:0;">
            <ButtonTemplate>
                <MudIconButton HtmlTag="label" Icon="@MaterialDesignIcons.Normal.FileImport" Color="Color.Primary" for="@context.Id" title="Import Excel" />
            </ButtonTemplate>
        </MudFileUpload>

    </MudToolBar>
           
    <MudTable Items="@items" Hover="true" SortLabel="Sort By" Elevation="0" MultiSelection="true" Dense="true" T="T" SelectedItemsChanged="OnSelectItems">

        <ColGroup>
            @for (var i = 0; i < TableProvider.Columns.Count; i++)
            {
                <col style="width: @TableProvider.Columns[i].WidthValuePercent%;" />
            }
            <col style="width: 40px;" />
            
        </ColGroup>
                
        <HeaderContent>
            @foreach(var item in TableProvider.Columns)
            {
                <MudTh>@item.Name</MudTh>    
            }
            <MudTh></MudTh>
        </HeaderContent>

        <RowTemplate>
            @foreach (var item in TableProvider.Columns)
            {
                <MudTd DataLabel="@item.Name">@item.ValueSelector(@context)</MudTd>
            }
            <MudTh Style="text-align:right">
                <MudTooltip Text="Edit" Placement="Placement.Bottom">
                    <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Size="Size.Medium" Class="ml-1" OnClick="@((e) => SaveDialogItem(context.Id))"/>
                </MudTooltip>
                <MudTooltip Text="Remove" Placement="Placement.Bottom">
                    <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Size="Size.Medium" OnClick="@(() => Remove(context.Id))" />
                </MudTooltip>
            </MudTh>
         </RowTemplate>

        <PagerContent>
            <MudTablePager HorizontalAlignment="HorizontalAlignment.Center" PageSizeOptions="pageModel.Items" />
        </PagerContent>

        </MudTable>

</MudPaper>
