@page "/registration"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using TestTask.Core.Models.Users
@using TestTask.MudBlazors.Model

@inject UserService UserService
@inject NavigationManager Navigation

<h3>Registration</h3>
<PageTitle>Registration</PageTitle>

<MudGrid>
    <MudItem xs="12" sm="8">
        <MudPaper Class="pa-4">
            <MudForm @bind-Errors="@errors" Model="userModel">
                <MudTextField T="string" Label="Username"
                              @bind-Value=@userModel.Username
                              InputType="InputType.Text"
                              Validation="@(new Func<string, IEnumerable<string>>(ValidFormatUsername))" Required="true" />
                <MudTextField T="string" Label="Password" HelperText="Choose a strong password"
                              InputType="InputType.Password"
                              @bind-Value="@userModel.Password" For="@(() => userModel.Password)"
                              Validation="@(new Func<string, IEnumerable<string>>(ValidFormatPassword))" Required="true"
                              RequiredError="Password is required!" />
                <MudTextField T="string" Label="Password" HelperText="Choose a strong password"
                              @bind-Value="@matchPassword"
                              InputType="InputType.Password"
                              Validation="@(new Func<string, string>(MatchPassword))" />
            </MudForm>
        </MudPaper>
            <MudPaper Class="pa-4 mt-4"> 
            <div style="text-align:center">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="AddUser">Registration</MudButton>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Warning" Class="ml-auto" OnClick="ClearField">Clear</MudButton>
            </div>
            <div style="text-align:right">
                <MudButton ButtonType="ButtonType.Button" Variant="Variant.Outlined" Color="Color.Info" Class="ml-auto" OnClick="SignInPage">Sign In</MudButton>
            </div>
            </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">@($"Errors ({errors.Length})")</MudText>
            @foreach (var error in errors)
            {
                <MudText Color="@Color.Error">@error</MudText>
            }
        </MudPaper>
    </MudItem>
</MudGrid>

@functions 
{
    void SignInPage() => Navigation.NavigateTo("/login");
}

@code {
    UserModel userModel = new UserModel();
    string matchPassword = string.Empty;

    string[] errors = { };
    UserValidator userValidator = new UserValidator();         

    private interface IDataAccess
    {
        public Task<IReadOnlyList<UserModel>> GetAllCustomersAsync();
    }

    private void ClearField() => userModel.Password = userModel.Username = matchPassword = string.Empty;

    private void AddUser()
    {
        if (errors.Length != 0)
        {
            return;    
        }

        var user = userModel.ToUser();

        UserService.Add(user);
        Navigation.NavigateTo("/login");
    }

    private IEnumerable<string> ValidFormatPassword(string password)
    {
        if (string.IsNullOrWhiteSpace(password))
        {
            yield return "Password is required!";
            yield break;
        }

        if (!userValidator.ValidFormatPassword(password, out var message))
        {
            yield return message;
            yield break;
        }
    }

    private IEnumerable<string> ValidFormatUsername(string username)
    {
        if (!UserService.IsFreeUsername(userModel.Username))
        {
            yield return string.Format($"{userModel.Username} username is taken.");
            yield break;
        }

        if (string.IsNullOrWhiteSpace(username))
        {
            yield return "Username is required!";
            yield break;
        }

        if (!userValidator.ValidFormatUsername(username, out var message))
        {
            yield return message;
            yield break;
        }
    }

    private string MatchPassword(string arg)
    {
        if (userModel.Password != arg)
            return "Passwords don't match";
        return null;
    }
}

