@page "/login"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using TestTask.Core.Models.Users
@using TestTask.MudBlazors.Model

@inject UserService UserService
@inject UserValidator UserValidator
@inject NavigationManager Navigation

<PageTitle>Sign In</PageTitle>

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h6" Align="Align.Center"><b>Sign In</b></MudText>
            <MudForm @bind-Errors="@errors" Model="userModel">
                <MudTextField T="string" Label="Username"
                              @bind-Value=@userModel.Username
                              InputType="InputType.Text"
                              Validation="@(new Func<string, IEnumerable<string>>(ValidFormatUsername))" Required="true" />
                <MudTextField T="string" Label="Password" HelperText="Choose a strong password"
                              InputType="InputType.Password"
                              @bind-Value="@userModel.Password" For="@(() => userModel.Password)"
                              Validation="@(new Func<string, IEnumerable<string>>(ValidFormatPassword))" Required="true"
                              RequiredError="Password is required!" />
            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <div style="text-align:center">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="InputInAccount">Input</MudButton>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Warning" Class="ml-auto" OnClick="ClearField">Clear</MudButton>
            </div>
            <div style="text-align:right">
                <MudButton ButtonType="ButtonType.Button" Variant="Variant.Outlined" Color="Color.Info" Class="ml-auto" OnClick="RegistrationPage">Registration</MudButton>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">@($"Errors ({errors.Length})")</MudText>
            @foreach (var error in errors)
            {
                <MudText Color="@Color.Error">@error</MudText>
            }
        </MudPaper>
    </MudItem>
</MudGrid>

@functions
{
    void RegistrationPage() => Navigation.NavigateTo("/registration");
}

@code {
    UserModel userModel = new UserModel();
    string[] errors = { };

    bool isLoginAccount { get; set; } = false;

    private interface IDataAccess
    {
        public Task<IReadOnlyList<UserModel>> GetAllCustomersAsync();
    }

    private void ClearField() => userModel.Password = userModel.Username = string.Empty;

    private void InputInAccount()
    {
        if (errors.Length != 0)
        {
            isLoginAccount = false;
        }

        var user = userModel.ToUser();
        isLoginAccount = true;
    }

    private IEnumerable<string> ValidFormatPassword(string password)
    {
        if (string.IsNullOrWhiteSpace(password))
        {
            yield return "Password is required!";
            yield break;
        }

        if (!UserValidator.ValidFormatPassword(password, out var message))
        {
            yield return message;
            yield break;
        }
    }

    private IEnumerable<string> ValidFormatUsername(string username)
    {
        if (string.IsNullOrWhiteSpace(username))
        {
            yield return "Username is required!";
            yield break;
        }

        if (UserService.IsFreeUsername(userModel.Username))
        {
            yield return string.Format($"{userModel.Username} username does not exist.");
            yield break;
        }

        if (!UserValidator.ValidFormatUsername(username, out var message))
        {
            yield return message;
            yield break;
        }
    }
}
