@page "/login/{IsSignIn:bool}"

@attribute [AllowAnonymous]

@if (AuthState.Result.User.Identity.IsAuthenticated)
{
    Navigation.NavigateTo("/table");
}

else
{
    <MudContainer Style="align-items:center; max-width:600px; max-height:600px">

        @if (IsSignIn)
        {
            <MudText Typo="Typo.h4" Align="Align.Center"><b>Sign In</b></MudText>
            <div>
                <MudLink Underline="Underline.None" Typo="Typo.h6" Color="Color.Dark">Don't have an account yet?</MudLink>
                <MudLink Typo="Typo.h6" Color="Color.Info" OnClick="RegistrationPage">Register</MudLink>
            </div>
        }
        else
        {
            <MudText Typo="Typo.h4" Align="Align.Center"><b>Registration</b></MudText>
            <div>
                <MudLink Underline="Underline.None" Typo="Typo.h6" Color="Color.Dark">Already have an account?</MudLink>
                <MudLink Typo="Typo.h6" Color="Color.Info" OnClick="SignInPage">Sign In</MudLink>
            </div>
        }

        <MudForm @bind-Errors="@errors" Model="UserModel" Style="border-block-end-width:4;">
            <MudTextField T="string" Label="Username" Style="font-size: 16px;" Class="mt-4"
                          @bind-Value=@UserModel.Username
                          InputType="InputType.Text" Variant="Variant.Outlined"
                          Validation="@(new Func<string, IEnumerable<string>>(ValidFormatUsername))" Required="true" />
            <MudTextField T="string" Label="Password" HelperText="Choose a strong password" Style="font-size: 16px;" Class="mt-4"
                          InputType="InputType.Password" Variant="Variant.Outlined"
                          @bind-Value="@UserModel.Password" For="@(() => UserModel.Password)"
                          Validation="@(new Func<string, IEnumerable<string>>(ValidFormatPassword))" Required="true"
                          RequiredError="Password is required!" />
            @if (!IsSignIn)
            {
                <MudTextField T="string" Label="Repeat password" HelperText="Choose a strong password" Style="font-size: 16px;" Class="mt-4"
                              @bind-Value="@matchPassword" Variant="Variant.Outlined"
                              InputType="InputType.Password"
                              Validation="@(new Func<string, string>(MatchPassword))" />
            }
        </MudForm>

        <div style="text-align:center">
            @if (IsSignIn)
            {
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined"
                           Color="Color.Primary" Class="mr-2" OnClick="SignIn"
                           Style="width: 100px; height: 40px;">
                    Sign In
                </MudButton>
            }
            else
            {
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined"
                           Color="Color.Primary" Class="mr-2" OnClick="AddUser"
                           Style="width: 100px; height: 40px;">
                    Registration
                </MudButton>
            }
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined"
                       Color="Color.Warning" Class="ml-2" OnClick="ClearField"
                       Style="width: 100px; height: 40px;">
                Clear
            </MudButton>
        </div>

    </MudContainer>
}




